<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>編集画面</title>
<link rel="stylesheet" media="all" th:href="@{/css/ress.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/style.js}"></script>

<!-- Favicon -->
<link rel="icon" type="image/png" th:href="@{/img/favicon.png}">

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col span-12">
					<div class="head">
						<h1>
							<a th:href="@{/}">編集画面</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="mainimg">
		<img th:src="@{/img/subimg.jpg}" alt="お問い合わせ画像">
	</div>
	<main>

	    <div class="container">
	      <form th:action="@{/items/{id}(id=*{id})}" th:method="put" th:object="${item}">
	        <div>
	          <label>ID</label>
	          <input type="text" th:field="*{id}" />
	        </div>
	        <div>
	          <label>Name</label>
	          <input type="text" th:field="*{name}" />
	        </div>
	        <div>
	          <label>e-mail</label>
	          <input type="text" th:field="*{mail}" />
	        </div>
	        <div>
	          <label>Content</label>
	          <input type="text" th:field="*{content}" />
	        </div>
	        <button class="btn btn-default" type="submit">更新</button>
	      </form>
	    </div>


	</main>
	<footer>

	</footer>

</body>
</html>